@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Shifty is an MVC application designed for owners or managers of small businesses. For businesses ranging from hardware stores to diners to gyms, the app works for everyone. With the app, employees and managers have the ability to keep track of all employees that work at a location. They can see the list of days they are working and any time off requests an employee may have requested. Make managing your employee work schedules easier with Shifty!</p>

<h4>Employee Bios Coming soon!</h4>