@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    The Cloud<br />
    Everywhere<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Developer:</strong>   <a href="mailto:plaschka.justin@gmail.com">plaschka.justin@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@shifty.com">Marketing@shifty.com</a>
</address>