@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Shifty</h1>
    <p class="lead">Shifty is the ultimate business management app to help keep track of employee schedules and vacation days. Manage daily schedules, vacation requests and more from one app!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Shifty is the premier workplace management app
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get Started</h2>
        <p>Make managing employee schedules easy!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>Want to contact us? Follow the link below to our information.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>